
.networthphoto,.winephoto,.parkphoto,.sustainablephoto, .notephoto{
    max-width: 150px;
    height: 100px;
    background-color: white;
    object-fit: cover;
    border: 6px solid #00245E

}
.networthphoto:hover,.winephoto:hover,.parkphoto:hover,.sustainablephoto:hover, .notephoto:hover{
    border: 6px solid #295BAB;

}

.title{
    color:#00245E;
    font-size: 26px;
    font-family: 'Playfair Display', sans-serif;
    text-decoration: none;
}

.description>a{
    color: #00245E;
    
    text-decoration: none;
}


ul{
    padding: 0
}
.description{
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;   
    max-width: 600px 


}

.Home-title{
    background-color: #295BAB;
    font-size: 26px;
    
 
}
.Home-nav{
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 300px;
    justify-content: space-between;
}
.Home-button{
    background-color: #00245E;
    color: white;
    border-radius: 5%;
    border: 5px solid #0041AB;
}

.project-detail{
    text-align: center;
}
.projectList{
    padding: 0;
    margin: 0;
}
.projects{
    background: white;
    text-align: center;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
 }


.second-section{
    background-color: white;
}
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent; 
    border-top: 20px solid #0041AB;
    z-index: 1;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }
.Home-small-links{
    display: inline-block;
}
.Home-links{
    display: none
}
h3, h4{
   color: #00245E
}
  @media only screen and (min-width: 900px) {

    .Home-project{
    display: flex;
    flex-direction: row;
    margin: 0 auto;

}

.Home-links{
    display: inline-block;
}
.Home-small-links{
    display:none;
}
.networthphoto,.winephoto,.parkphoto,.sustainablephoto, .notephoto{
    width: 200px;
    height: 150px;
    margin-top: 12%;
    margin-right: 5%
}
.third-description-app, .description-app{
    flex-direction: row;
}
  }
  @media only screen and (max-width: 899px) {
    .third-description-app,.description-app{
    flex-direction: column;
    }
  }
  @media only screen and (min-width: 545px) {
    .desktop-app{
        max-height: 320px;
        margin: 3% auto;
        display: flex;
    }
  }
  @media only screen and (max-width: 544px) {
    .desktop-app{
        display: none;
    }
  }



  .hidden{
    display: none;
}

.App-details{
    display: flex;
    justify-content: center;
    margin: 2% auto;
    flex-direction: column;
    text-align: center;
    max-width: 900px;
    padding: 2%;
}

.App-background{
    background-color: #E6E6E6;
}
.mobile-app{
    height: 270px;
    margin: 60px auto;
}

.desktop-app{
    margin-top: 60px
}

.title-app{
    color: #00245E;
    text-align: center;
    margin-top: 0;
}
.description-app{
    display: flex;
    text-align: center;
}
.second-description-app{
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 375px;
    margin: 0 auto;
    padding: 5%
}

.third-description-app{
    display: flex;
    text-align: center;
}