
.leadPage{
    display: flex;
    width: 100%;
    background:white;
    margin: 2% auto;
    justify-content: center;
    text-align: center;
}

.articles>b:hover{
    color: #295BAB
}

.contain{
display: block;

}
.articleImgLoader{
    margin:0;
    height: 300px;
    width: 400px;
    background-color: #00245E;
    ;

   
}


.photo{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border: 6px solid #00245E
}

.photoSmall{
    max-width: 300px;
    max-height: 200px;
}
