
.homePage{
    display: flex;
    text-align: start;
    padding-left: 15%;
    padding-right: 15%;
    height:auto;
    background: white;   
    width: 100%;
    justify-content: center; 
    
}
#bitmoji{
    max-height: 105px;
    margin-top: 1%;

}
.homePage{
    margin-bottom: 0;
    color: #00315E;
}

.bio,.bio>a{
    text-decoration: none;
    font-size: 18px;
}
.bio>a{
    color: black
}
.intro{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.welcome{
    font-size: 56px;
    color:#00315E;
}

