@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');


h2{
    font-size: 22px;
    color: white;
}




* {
    box-sizing: border-box;
    cursor: default !important;
    overflow-y: auto;
    font-family: 'Playfair Display', sans-serif;
    overflow-x: hidden
}



h1{
    font-size: 60px;
    color:white;
   
}


header{
    background: #00245E;
    width: 100%; 
    height: 75px;
}


