.About{
    text-align: center;
    ;
    
}

.About-me{
    font-size: 42px;
    color: white
}
 .About-description{
    width: 100%;
    padding: 1%;
    height:auto;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    background-color: #295BAB;
    display: flex;
    justify-content: space-evenly;
    color: white
}
.Store{
    width: 70%;
    height:auto;
    margin-bottom: 8%;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    color: #295BAB;
    display: flex;
    justify-content: space-between; 
}
.Store-description{
    width: 60%
}
.personal-logo{

    max-height: 200px
}

.contact, .contact>a{
    text-decoration: none;
    font-size: 26px;
}
.contact{
  justify-self: space-between;
  width: 400px
}
.contact>a:hover{
    text-decoration: line-through;
    color: #00245E;
}


@media only screen and (max-width: 650px) {
    .personal-logo{
        display: none; 
    }
    .contact{
        margin-right: auto;
        margin-left: auto; 
    }

}
