.container{
    text-align: center;
    width: 100vw;

}

.side>p{
    margin: 5%
}
.bio{
    text-align: left;
}

.img-banner{
    display: flex;
    width: 90%;
    margin-left: auto; 
    margin-right: auto;
    justify-content: space-evenly;
    padding: 50px
}


.img-banner-mobile{

    height: 350px;
    overflow-x: scroll; 
    white-space: nowrap;
    width: 100%;
 }
 .img-banner-mobile::-webkit-scrollbar{
        height: 2%;
        
      }

      .img-banner-mobile::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px #295BAB;
      }
       
      .img-banner-mobile::-webkit-scrollbar-thumb {
        background-color: #295BAB;
        outline: 1px solid #0041AB;
        border-radius: 10px;
      }

.photo-style1>Img,.photo-style2>Img,.photo-style3>Img{
   height: 250px ;
   width: 350px;
   box-shadow: 2px 2px 2px 2px #B05C27;
   border-radius: 2%;
   margin: 0 3% 
   
}
.mainImgLoader{
    margin:0;
    height: 300px;
    width: 300px;
    background-color: #B05C27; 
    z-index: 1;
}


@media only screen and (min-width: 1350px) {
    .img-banner-mobile::-webkit-scrollbar{
        display: none; 
    }
  

}
