.corner{
 
 align-self: center;
 justify-self: right;

}
footer{
   bottom: 0;
   width: 100%;
   background: white;

}
.social, a:link,a:visited {
    font-size: 22px;
    border: none;
    outline: none;

}
.social, a:link,a:visited{
 color: #00245E;
}
a:hover{
    color: #295BAB;
}
.socialIcons{
    margin-top: 2% ;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding:0;
    overflow: hidden;

}




